black==26.1.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
mypy_extensions==1.1.0
narwhals==2.16.0
numpy==2.4.2
packaging==26.0
pandas==3.0.0
pathspec==1.0.4
patsy==1.0.2
platformdirs==4.7.0
plotly==6.5.2
python-dateutil==2.9.0.post0
pytokens==0.4.1
scikit-learn==1.7.2
scipy==1.17.0
six==1.17.0
statsmodels==0.14.6
threadpoolctl==3.6.0
tzdata==2025.3
Werkzeug==3.1.5
